
    <div class="flex items-baseline justify-between text-white">
        <h3 class="font-bold !text-white"> People you may know </h3>
    </div>
    <div class="side-list">
        <div class="side-list-item">
            <a>
                <img src="~/images/avatar/profile4.jpg" class="side-list-image rounded-full" />
            </a>
            <div class="flex-1">
                <a>
                    <h4 class="side-list-title !text-white">First User</h4>
                </a>
                <div class="side-list-info">156 followers</div>
            </div>
            <form>
                <button type="submit" class="bg-[#3a015c] hover:bg-opacity-80 transition-all ease-in-out duration-200 text-sm text-white rounded-full cursor-pointer px-4 py-2">Follow</button>
            </form>
        </div>

        <div class="side-list-item">
            <a>
                <img src="~/images/avatar/profile5.jpg" class="side-list-image rounded-full" />
            </a>
            <div class="flex-1">
                <a>
                    <h4 class="side-list-title !text-white">Second User</h4>
                </a>
                <div class="side-list-info">18 followers</div>
            </div>
            <form>
                <button type="submit" class="bg-[#3a015c] hover:bg-opacity-80 transition-all ease-in-out duration-200 text-sm text-white rounded-full cursor-pointer px-4 py-2">Follow</button>
            </form>
        </div>

        <div class="side-list-item">
            <a>
                <img src="~/images/avatar/profile6.jpg" class="side-list-image rounded-full" />
            </a>
            <div class="flex-1">
                <a>
                    <h4 class="side-list-title !text-white">Third User</h4>
                </a>
                <div class="side-list-info">1.6k followers</div>
            </div>
            <form>
                <button type="submit" class="bg-[#3a015c] hover:bg-opacity-80 transition-all ease-in-out duration-200 text-sm text-white rounded-full cursor-pointer px-4 py-2">Follow</button>
            </form>
        </div>

    </div>
