<div class="flex justify-between text-white">
    <h3 class="font-bold !text-white">Trends for you</h3>
</div>
<div class="space-y-3.5 capitalize text-xs font-normal mt-5 mb-2 text-white/90">
    <a>
        <div class="flex items-center gap-3 ">
            <div class="flex-1">
                <h2 class="font-semibold !text-white">#SocialMediaApp</h2>
                <div class="mt-0.5 mb-4">12 posts</div>
            </div>
        </div>
    </a>
    <a>
        <div class="flex items-center gap-3 ">
            <div class="flex-1">
                <h2 class="font-semibold !text-white">#KendrickLamar</h2>
                <div class="mt-0.5 mb-4">59 posts</div>
            </div>
        </div>
    </a>
    <a>
        <div class="flex items-center gap-3 ">
            <div class="flex-1">
                <h2 class="font-semibold !text-white">#APTAPT</h2>
                <div class="mt-0.5 mb-4">2.4k posts</div>
            </div>
        </div>
    </a>
</div>