<div id="site__sidebar" class="fixed top-0 left-0 z-[99] pt-[64px] overflow-hidden transition-transform xl:duration-500 max-xl:w-full max-xl:-translate-x-full">
    <div class="p-2 max-xl: bg-[#11001c] shadow-sm 2xl:w-72 sm:w-64 w-[80%] h-[calc(100vh-64px)] relative z-30 max-lg:border-r">
        <div class="pr-4" data-simplebar>
            <nav id="side">
                <ul>
                    <li>
                        <a class="group">
                            <img src="~/images/icons/home.png" alt="Feed" class="w-6" />
                            <span class="text-white group-hover:text-black"> Feed </span>
                        </a>
                    </li>
                    <li>
                        <a class="group">
                            <img src="~/images/icons/page.png" alt="Favorites" class="w-6" />
                            <span class="text-white group-hover:text-black"> Favorites </span>
                        </a>
                    </li>
                    <li>
                        <a class="group">
                            <img src="~/images/icons/group-2.png" alt="Friends" class="w-6" />
                            <span class="text-white group-hover:text-black"> Friends </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <hr class="my-2" />
            <nav id="side" class="font-medium text-sm text-black border-top pt-3 mt-2">
                <div class="px-3 pb-2 text-sm text-white font-medium">Pages</div>
                <ul class="mt-2 -space-y-2">
                    <li>
                        <a class="group">
                            <ion-icon class="text-white group-hover:text-black" name="settings-outline"></ion-icon>
                            <span class="text-white group-hover:text-black">Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="site__sidebar__overlay" class="absolute top-0 left-0 z-20 w-screen h-screen xl:hidden backdrop-blur-sm"
         uk-toggle="target: #site__sidebar; cls: !-translate-x-0">
    </div>
</div>