<header class="z-[100] h-[--m-top] fixed top-0 left-0 w-full flex items-center backdrop-blur-xl bg-[#11001c]/95">        
            <div class="2xl:w-[--w-side] lg:w-[--w-side-sm] pl-8">
                <div class="flex items-center gap-1">
                    <button uk-toggle="target:#site__sidebar; cls:!-translate-x-0"
                            class="flex items-center justify-center w-8 h-8 text-xl rounded-full hover:bg-gray-100 xl:hidden group">
                        <ion-icon name="menu-outline" class=" text-white text-2xl group-aria-expanded:hidden"></ion-icon>
                        <ion-icon name="close-outline" class="text-white  hidden text-2xl group-aria-expanded:block"></ion-icon>
                    </button>
                    <div id="logo" class="flex items-center ml-4">
                        <a class="flex items-center">
                            <img src="~/images/logo.png" class="w-10 md:block hidden" alt="logo" />
                            <span class="ml-2 text-white font-extrabold">Ether App</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex-1 relative">
                @* Search *@
                <div class="max-w-[1220px] mx-auto flex items-center">
                    <form id="search--box" class="relative xl:w-[680px] sm:w-96 rounded-full overflow-hidden z-20 bg-gray-200 transition-all duration-300 ease-in-out max-md:hidden w-screen left-0 max-sm:fixed max-sm:top-2">
                        <ion-icon name="search-outline" class="absolute left-4 top-1/2 transform -translate-y-1/2 text-white"></ion-icon>
                        <input type="text" name="query" placeholder="Search Posts, Friends..."
                       class="w-full pl-10 h-10 text-sm !text-white !bg-[#3a015c] rounded-full" />
                    </form>
                </div>
                <div class="max-w-[1220px] mx-auto flex items-center">
                    <div class="flex items-center sm:gap-4 gap-2 absolute right-5 top-1/2 -translate-y-1/2 text-black">
                        <button type="button" class="relative flex items-center justify-center w-10 h-10 rounded-full hover:bg-white transition duration-200 group">
                            <ion-icon name="notifications-outline" class="text-xl text-white group-hover:text-black"></ion-icon>
                            <span id="notificationsCount" class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full px-1">1</span>
                        </button>
                        <div class="hidden bg-[#11001c] pr-1.5 rounded-lg drop-shadow-xl md:w-[365px] w-screen border2"
                             uk-drop="offset:6; pos:bottom-right; mode: click; animate-out:true;">
                            <div class=" flex items-center justify-between gap-2 p-4 pb-2">
                                <h3 class="!text-white font-bold text-xl">Notifications</h3>
                            </div>
                            <div class="text-sm h-[400px] w-full overflow-y-auto pr-2">
                                <div class="text-white pl-2 p-1 text-sm font-normal" id="notification-dropdown">
                                    No notifications...
                                </div>
                            </div>
                        </div>
                        <div class="rounded-full relative bg-secondery cursor-pointer shrink-0">
                            <img src="~/images/avatar/profile.jpg" class="sm:w-9 sm:h-9 w-7 h-7 rounded-full shadow shrink-0" />
                        </div>
                        <div class="hidden bg-[#11001c] rounded-lg drop-shadow-xl w-64 border2"
                             uk-drop="offset:6; pos:bottom-right; animate-out:true">
                            <a>
                                <div class="p-4 py-5 flex items-center gap-4">
                                    <img src="~/images/avatar/profile.jpg" class="w-10 h-10 rounded-full shadow" />
                                    <div class="flex-1">
                                        <h4 class="text-sm font-medium !text-white">Sheta</h4>
                                        <div class="text-sm mt-1 text-blue-600 font-light/70">sheta0.9</div>
                                    </div>
                                </div>
                            </a>
                            <hr class="mx-2"/>
                            <nav>
                                <a class="group">
                                    <div class="text-white flex items-center gap-2 hover:bg-white p-1 m-1 rounded-lg px-2.5">
                                        <ion-icon name="settings-outline" class="text-white group-hover:text-black text-lg"></ion-icon>
                                        <p class="group-hover:text-black"> My Account </p> 
                                    </div>
                                </a>
                                <hr class="mx-2" />
                                <a class="group">
                                    <div class="text-white flex items-center gap-2 hover:bg-white p-1 m-1 rounded-lg px-2.5">
                                        <ion-icon name="exit-outline" class="text-white group-hover:text-black text-lg"></ion-icon>
                                        <p class="group-hover:text-black"> Log Out </p>
                                    </div>
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
</header>